name: Build standalone launcher

on: [push, pull_request]

jobs:
  windows:
    runs-on: windows-2019
    name: Windows
    steps:
      - uses: actions/checkout@master
        #with:
        #  submodules: true
      - name: Setup java
        uses: actions/setup-java@v1
        with:
          java-version: 16
          java-package: jdk+fx
      - name: Build Java runtime image
        run: >
          jlink.exe --add-modules java.base,java.desktop,java.management,javafx.base,javafx.controls,javafx.fxml,jdk.crypto.ec
          --compress=2 --strip-debug --no-header-files --no-man-pages --output chunkyjava
      #- name: Build Chunky launcher
      #  run: .\gradlew.bat :launcher:jar --stacktrace
      #  working-directory: ./chunky
      - uses: suisei-cn/actions-download-file@v1
        id: launcherjar
        name: Download the file
        with:
          url: https://chunkyupdate.lemaik.de/ChunkyLauncher.jar
          target: jars
      - name: Build installer
        run: >
          jpackage.exe --type exe --runtime-image chunkyjava --input jars/
          --main-jar ${{ steps.launcherjar.outputs.filename }} --name Chunky
          --vendor leMaik --app-version 1.12.1 --copyright "Copyright (c) 2010-2021 Chunky contributors"
          --win-dir-chooser --win-menu --win-shortcut --icon chunky.ico
      - uses: actions/upload-artifact@v2
        with:
          name: windows-installer
          path: ./*.exe
      - name: Build zip
        run: >
          jpackage.exe --type app-image --runtime-image chunkyjava --input jars/
          --main-jar ${{ steps.launcherjar.outputs.filename }} --dest chunkyImage --name Chunky
          --vendor leMaik --app-version 1.12.1 --copyright "Copyright (c) 2010-2021 Chunky contributors"
          --icon chunky.ico
      - uses: actions/upload-artifact@v2
        with:
          name: windows-zip
          path: ./chunkyImage/**/*
  linux:
    runs-on: ubuntu-20.04
    name: Linux
    steps:
      - uses: actions/checkout@master
        #with:
        #  submodules: true
      - name: Setup java
        uses: actions/setup-java@v1
        with:
          java-version: 16
          java-package: jdk+fx
      - name: Build Java runtime image
        run: >
          jlink --add-modules java.base,java.desktop,java.management,javafx.base,javafx.controls,javafx.fxml,jdk.crypto.ec
          --compress=2 --strip-debug --no-header-files --no-man-pages --output chunkyjava
      #- name: Build Chunky launcher
      #  run: .\gradlew.bat :launcher:jar --stacktrace
      #  working-directory: ./chunky
      - uses: suisei-cn/actions-download-file@v1
        id: launcherjar
        name: Download the file
        with:
          url: https://chunkyupdate.lemaik.de/ChunkyLauncher.jar
          target: jars
      - name: Build deb package
        run: >
          jpackage --type deb --runtime-image chunkyjava --input jars/
          --main-jar ${{ steps.launcherjar.outputs.filename }} --name Chunky
          --vendor leMaik --app-version 1.12.1 --copyright "Copyright (c) 2010-2021 Chunky contributors"
          --linux-package-name chunky-launcher --linux-menu-group Graphics
          --linux-shortcut --icon chunky.png
          --java-options -Djdk.gtk.version=2
      - uses: actions/upload-artifact@v2
        with:
          name: linux-deb
          path: ./*.deb
      - name: Build zip
        run: >
          jpackage --type app-image --runtime-image chunkyjava --input jars/
          --main-jar ${{ steps.launcherjar.outputs.filename }} --dest chunkyImage --name Chunky
          --vendor leMaik --app-version 1.12.1 --copyright "Copyright (c) 2010-2021 Chunky contributors"
          --icon chunky.png
          --java-options -Djdk.gtk.version=2
      - uses: actions/upload-artifact@v2
        with:
          name: linux-zip
          path: ./chunkyImage/**/*
  macos:
    runs-on: macos-latest
    name: macOS
    steps:
      - uses: actions/checkout@master
        #with:
        #  submodules: true
      - name: Setup java
        uses: actions/setup-java@v1
        with:
          java-version: 16
          java-package: jdk+fx
      - name: Build Java runtime image
        run: >
          jlink --add-modules java.base,java.desktop,java.management,javafx.base,javafx.controls,javafx.fxml,jdk.crypto.ec
          --compress=2 --strip-debug --no-header-files --no-man-pages --output chunkyjava
      #- name: Build Chunky launcher
      #  run: .\gradlew.bat :launcher:jar --stacktrace
      #  working-directory: ./chunky
      - uses: suisei-cn/actions-download-file@v1
        id: launcherjar
        name: Download the file
        with:
          url: https://chunkyupdate.lemaik.de/ChunkyLauncher.jar
          target: jars
      - name: Build DMG package
        run: >
          jpackage --type dmg --runtime-image chunkyjava --input jars/
          --main-jar ${{ steps.launcherjar.outputs.filename }} --name Chunky
          --vendor leMaik --app-version 1.12.1 --copyright "Copyright (c) 2010-2021 Chunky contributors"
          --icon chunky.icns
          --dest chunkyImage
      - uses: actions/upload-artifact@v2
        with:
          name: macos-dmg
          path: ./chunkyImage/*.dmg
